<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="Nathaniel Wiley">
		<!--<link rel="icon" href="../../favicon.ico">-->
		
		<title>Hyperlink Humidor</title>

		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<script src="https://use.fontawesome.com/1174070f0b.js"></script>
		<style>
			.hlh--container {padding-left: 16px;}
			.hlh--link-tags .w3-tag,.hlh--control-tags .w3-tag {cursor:pointer; margin-right:4px;}
		</style>
	</head>
	<body>
		<!---<div class="w3-top w3-card"><a id="summit"></a>
			<div class="w3-container w3-khaki">
				<h1>Hyperlink Humidor</h1>
				<button id="openMenu" class="w3-button w3-xxlarge w3-display-right fa fa-ellipsis-v" auw3-show="#menuModal"></button>
			</div>
		</div>--->
		<div id="hlhAPP">
			<!---<br /><br /><br /><br />--->
			<div class="hlh--control-tags w3-small w3-padding">
				<span v-for="tag in filters.tags" class="w3-tag w3-round w3-hover-red" @click="removeFilterTag(tag)">{{ tag }} &times;</span>
			</div>
			<div class="hlh--container">
				<div class="w3-row"><div v-for="link in filterHLs()" class="w3-col s12 m6 l3">
					<div class="w3-border w3-padding w3-margin-bottom w3-margin-right">
						<a target="_blank" v-bind:href="link.url">{{ link.title }}</a>
						<div class="w3-tiny w3-text-grey">
							<i class="fa fa-link"></i> {{ link.abbr }}
						</div>
						<div class="w3-tiny hlh--link-tags">
							<i class="fa fa-tags w3-text-grey"></i> 
							<span class="w3-tag w3-round-large w3-khaki w3-hover-orange" v-for="tag in link.tags" @click="addFilterTag(tag)">{{ tag }}</span>
						</div>
					</div>
				</div></div>
			</div>
			<br /><br /><br /><br />
			<div class="hlh--controls w3-card w3-bottom">
				<div class="w3-padding w3-khaki">
					<i class="fa fa-search fa-lg"></i><input type="text" id="hlhTxtFilter" class="w3-input w3-border-0 w3-round-large" v-model="filters.text" placeholder="Search" />
					<i class="fa fa-filter fa-lg"></i><select id="hlhTagFilter" class="w3-input w3-border-0 w3-round-large" v-model="filters.selected" @change="addFilterTag(filters.selected)">
						<option value="">Filter by Tag</option>
						<option v-for="tag in filterTags()" v-bind:value="tag">{{ tag }}</option>
					</select>
				</div>
			</div>
		</div>

		<div id="menuModal" class="w3-modal" auw3-hide="#menuModal"><div class="w3-modal-content w3-card-4">
			<div class="w3-cell-row">
				<div id="menuAdd" class="w3-container w3-cell w3-cell-middle w3-hover-green w3-green w3-padding-large" auw3-hide=".menuTab" auw3-show="#addHLH" auw3-add-class="#menuAdd,w3-green" auw3-remove-class="#menuImport,w3-red;#menuAbout,w3-blue"><i class="fa fa-plus"></i> Add</div>
				<div id="menuImport" class="w3-container w3-cell w3-cell-middle w3-hover-red w3-padding-large" auw3-hide=".menuTab" auw3-show="#importHLH" auw3-add-class="#menuImport,w3-red" auw3-remove-class="#menuAdd,w3-green;#menuAbout,w3-blue"><i class="fa fa-google-plus"></i> Import</div>
				<div id="menuAbout" class="w3-container w3-cell w3-cell-middle w3-hover-blue w3-padding-large" auw3-hide=".menuTab" auw3-show="#aboutHLH" auw3-add-class="#menuAbout,w3-blue" auw3-remove-class="#menuImport,w3-red;#menuAdd,w3-green"><i class="fa fa-question-circle"></i> About</div>
			</div>
			<div id="addHLH" class="w3-container menuTab w3-topbar w3-border-green">
				<p>Add</p>
			</div>
			<div id="importHLH" class="AuW3-auto-hide w3-container menuTab w3-topbar w3-border-red">
				<p>Import</p>
			</div>
			<div id="aboutHLH" class="AuW3-auto-hide w3-container menuTab w3-topbar w3-border-blue">
				<p><strong class="w3-large">Hyperlink Humidor <span id="hlhVersion" auw3-display-object="v:hlh.version()">({{v}})</span></strong></p>
				<p>A Chic UI for Persistent Bookmarks</p>
				<p>Powered by 
					<a href="https://www.w3schools.com/w3css/" target="_blank">W3.CSS</a>, 
					<a href="https://vuejs.org/" target="_blank">Vue.js</a>,
					<a href="https://github.com/nathanielwiley/AuW3" target="_blank">AuW3.JS</a>,
					<a href="https://github.com/nathanielwiley/Bittacle" target="_blank">Bittacle.JS</a>
				</p>
				<p>Icons by 
					<a href="http://fontawesome.io/" target="_blank">Font Awesome</a>
				</p>
			</div>
			<footer class="w3-container w3-khaki">
				<p><i class="fa fa-github"></i> <a href="https://github.com/nathanielwiley/hyperlink-humidor/" target="_blank">GitHub Project</a> | 
					Created by <a href="https://nathanielwiley.github.io/" target="_blank">Nathaniel Wiley</a> | 
					Licensed under <a href="https://github.com/nathanielwiley/hyperlink-humidor/blob/master/LICENSE" target="_blank">MIT License</a>
				</p>
			</footer>
		</div></div>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<script src="src/js/hlh.js"></script>


		<script src="https://www.w3schools.com/lib/w3.js"></script>               
		<script src="https://nathanielwiley.github.io/AuW3/auw3.js"></script>
	</body>
</html>